.topic-container {
    text-align: left;
}

.topic-icon {
    height: 40px;
    width: 40px;
}

.quiz-icon {
    height: 120px;
    width: 120px;
}

.quiz-box {
    text-align: center;
    width: 120px;
    word-wrap: normal;
}