body {
  color: color-picker(black);
  border: 0;
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.push-right {
    margin-left: auto;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}