body {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}