.navbar {
    background: white;
    color: #222;
    position: static;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    -webkit-box-shadow: 0px 1px 10px 0px #000a;
    -moz-box-shadow: 0px 1px 10px 0px #000a;
    box-shadow: 0px 1px 10px 0px #000a;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 80%;
  
    @media(max-width: 768px) {
        width: 90%;
    }
}
  
.navbar .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
}

.nav-menu {
    float: right;
    list-style: none;
    text-align: right;
    
    @media(max-width: 640px) {
        display: none;
    }
    
    @media(orientation: landscape) {
        display: inline-block;
    }
}

.nav-menu-item {
    color: rgb(13, 26, 38);
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu-item-link:hover {
    color: #27a;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
.nav-menu-item-link:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: #222;
}

.nav-menu-item-link:before {
    left: 0;
    transition: 0.5s;
}

.nav-menu-item-link:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
}
