.form-page {
    background-color: color-picker(light-blue);
    height: calc(100vh - 60px);
    overflow: auto;
}

.form-container {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 6px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
    padding: 60px;
    vertical-align: middle;

    .input-group {
        margin-bottom: 26px;
    }

    .title {
        font-size: 26px;
        margin-bottom: 36px;
    }
}

.form-wrapper {
    min-width: 300px;
    padding: 16px;

    @media(min-width: 500px){
        padding: 60px;
    }
}