.navbar-wrapper {
    background: white;
    position: fixed;
    top: 0;
    min-height: 60px;
    width: 100vw;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar-body {
    display: flex;
    margin: auto;
    text-align: center;
    width: 80%;
  
    @media(max-width: 768px) {
        width: 90%;
    }
}
  
.navbar .logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.nav-menu {
    float: right;
    list-style: none;
    text-align: right;
    
    @media(max-width: 640px) {
        display: none;
    }
    
    @media(orientation: landscape) {
        display: inline-block;
    }
}

.nav-menu-item {
    color: rgb(13, 26, 38);
    font-size: 0.7em;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
}

.nav-menu-item-link:hover {
    color: #27a;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
.nav-menu-item-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgba(0, 0, 0, 0.5);
}

.nav-menu-item-link::before {
    left: 0;
    transition: 0.5s;
}

.nav-menu-item-link:hover::before {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}